In [12]:
# Configuración para recargar automáticamente módulos modificados
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import sys
sys.path.append('../scripts/')
from analytics.tipo_de_cambio.cotizacion_ars_usd import ars_to_usd, ars_to_mep
from analytics.tipo_de_cambio.cuenta_corriente_ars_a_usd import cuenta_corriente_ars_a_usd
from analytics.cuentas_corrientes.unificacion_cuentas_corrientes import CuentasCorrientesUnificacion
from analytics.equity.gen_cartera_from_date import gen_cartera
from analytics.equity.portfolio_vs_brenchmarks import main as portfolio_vs_brenchmarks_execute
from analytics.equity.graph_portfolio_vs_benchmarks import main as graph_portfolio_vs_benchmarks_execute


ars_to_usd()
ars_to_mep()
cuenta_corriente_ars_a_usd("ars_to_usd")
cuenta_corriente_ars_a_usd("mep_to_ccl")
cuentas_corrientes_unificacion = CuentasCorrientesUnificacion(
    csv_path_pesos='../data/cuenta_corriente_pesos_dolarizada_historico.csv',
    csv_path_usd_mep='../data/cuenta_corriente_mep_ccl_historico.csv',
    csv_path_usd_ccl='../data/cuenta_corriente_dolares_cable_historico.csv'
)

df_cuentas_unificadas = cuentas_corrientes_unificacion.unify_accounts()
df_cuentas_unificadas.sort_values(by=['Liquida', 'Operado', 'Numero']).to_csv('../data/cuentas_unificadas_sorted.csv', index=False)
cartera_dict = gen_cartera(df_cuentas_unificadas)
portfolio_vs_brenchmarks_execute(df_cuentas_unificadas, fecha_inicio_str='2025-01-01', fecha_fin_str='2025-12-28')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

ADR GGAL (USD):
Price           Close       High        Low       Open  Volume
Ticker           GGAL       GGAL       GGAL       GGAL    GGAL
Date
2024-01-02  15.367927  15.685072  15.141395  15.540091  984200
2024-01-03  15.204823  15.594457  15.168578  15.259191  673700
2024-01-04  14.715512  15.449475  14.661145  15.277312  921600
2024-01-05  14.942045  15.077964  14.588656  14.588656  865900
2024-01-08  15.041718  15.077963  14.588655  15.077963  469600

Acción GGAL en Pesos (ARS):
Price             Close         High          Low         Open   Volume
Ticker          GGAL.BA      GGAL.BA      GGAL.BA      GGAL.BA  GGAL.BA
Date
2024-01-02  1500.315186  1527.946409  1456.221049  1502.139510  1191579
2024-01-03  1576.623413  1578.670210  1481.671872  1511.928234  2231061
2024-01-04  1602.296997  1636.513342  1564.432004  1576.890507  3024680
2024-01-05  1681.185791  1694.356251  1576.000483  1601.807380  2656526
2024-01-08  1777.294312  1779.786055  1651.641459  1685.457395  1733177

[*********************100%***********************]  1 of 1 completed
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['Tipo_Cambio_ARS_USD'] = df_merged['Tipo_Cambio_ARS_USD'].fillna(method='ffill')
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:46: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['Tipo_Cambio_ARS_USD'] = df_merged['Tipo_Cambio_ARS_USD'].fillna(method='bfill')
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:112: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['ratio_mep_ccl'] = df_merged['ratio_mep_ccl'].fillna(method='ffill')
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:115: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['ratio_mep_ccl'] = df_merged['ratio_mep_ccl'].fillna(method='bfill')

Cargando datos de cuenta corriente histórica en pesos...
Cargando datos de tipo de cambio GGAL...
Proceso completado. Se procesaron 455 registros.
Rango de fechas: 2024-04-09 00:00:00 a 2025-12-30 00:00:00
Registros con tipo de cambio: 455
Archivo guardado: ../data/cuenta_corriente_pesos_dolarizada_historico.csv
Cargando datos de tipo de cambio GGAL CCL...
Cargando datos de tipo de cambio GGAL MEP...
Calculando ratio MEP/CCL...
Cargando datos de cuenta corriente en dólares...
Aplicando ratio MEP/CCL a cuenta corriente...
Proceso completado. Se procesaron 39 registros.
Rango de fechas: 2024-10-24 00:00:00 a 2025-12-30 00:00:00
Registros con ratio: 39
Archivo guardado: ../data/cuenta_corriente_mep_ccl_historico.csv
Cargando datos de cuenta corriente en pesos...
Cargando datos de cuenta corriente en dólares MEP...
Cargando datos de cuenta corriente en dólares CCL...
Unificando cuentas corrientes...
Ordenando por columna Operado...
Procesando operaciones...

--- Cartera Final Corregida ---
PAMP: 160.00
GGAL: 98.00
SPY.US: 1.00
SAMI: 980.00
YPFD: 16.00
TRAN: 114.00
MELI: 55.00
BULL-IA.US: 100.00
ARGT.US: 14.00
XLP.US: 6.00
SHY.US: 17.00
GD30: 500.00
GD35: 450.00
CRES: 230.00
LK01Q: 407.00
Fecha de corte: 2025-01-01
--- CASH POR ORIGEN ---
      Origen    Liquida   Numero   Saldo
128  USD MEP 2024-11-27   252210    1.81
148  USD CCL 2024-12-17   224532  177.74
154      ARS 2024-12-30  1132078    3.29
Procesando operaciones...

--- Cartera Final Corregida ---
SAMI: 200.00
VIST: 12.00
AL30: 500.00
CRES: 180.00
YPFD: 5.00
INTC.US: 10.00
TLT.US: 3.00
FIPL: 900.00
ARKK: 100.00
VALE: 25.00
ALUA: 225.00
LAR: 50.00
Fecha de corte: 2025-12-29
--- CASH POR ORIGEN ---
      Origen    Liquida    Numero  Saldo
571  USD MEP 2025-12-19  10873779   1.40
577      ARS 2025-12-23   1012135  18.45
579  USD CCL 2025-12-24    485628  58.26
Procesando operaciones...

--- Cartera Final Corregida ---
PAMP: 160.00
GGAL: 122.00
SPY.US: 1.00
SAMI: 980.00
YPFD: 16.00
TRAN: 114.00
MELI: 55.00
BULL-IA.US: 100.00
ARGT.US: 14.00
XLP.US: 6.00
SHY.US: 17.00
GD30: 500.00
GD35: 450.00
CRES: 230.00
VARIAS: 100.00
LK01Q: 407.00
--- TENENCIA INICIAL A VALORIZAR ---
{'SAMI': {'cantidad_total': 200.0, 'importe_total': 0.0}, 'VIST': {'cantidad_total': 12.0, 'importe_total': 0.0}, 'AL30': {'cantidad_total': 500.0, 'importe_total': 0.0}, 'CRES': {'cantidad_total': 180.0, 'importe_total': 0.0}, 'YPFD': {'cantidad_total': 5.0, 'importe_total': 0.0}, 'INTC.US': {'cantidad_total': 10.0, 'importe_total': 0.0}, 'TLT.US': {'cantidad_total': 3.0, 'importe_total': 0.0}, 'FIPL': {'cantidad_total': 900.0, 'importe_total': 0.0}, 'ARKK': {'cantidad_total': 100.0, 'importe_total': 0.0}, 'VALE': {'cantidad_total': 25.0, 'importe_total': 0.0}, 'ALUA': {'cantidad_total': 225.0, 'importe_total': 0.0}, 'LAR': {'cantidad_total': 50.0, 'importe_total': 0.0}}
Cash Inicial: 182.84

--- TENENCIA FINAL A VALORIZAR ---
{'PAMP': {'cantidad_total': 160.0, 'importe_total': 0.0}, 'GGAL': {'cantidad_total': 122.0, 'importe_total': 0.0}, 'SPY.US': {'cantidad_total': 1.0, 'importe_total': 0.0}, 'SAMI': {'cantidad_total': 980.0, 'importe_total': 0.0}, 'YPFD': {'cantidad_total': 16.0, 'importe_total': 0.0}, 'TRAN': {'cantidad_total': 114.0, 'importe_total': 0.0}, 'MELI': {'cantidad_total': 55.0, 'importe_total': 0.0}, 'BULL-IA.US': {'cantidad_total': 100.0, 'importe_total': 0.0}, 'ARGT.US': {'cantidad_total': 14.0, 'importe_total': 0.0}, 'XLP.US': {'cantidad_total': 6.0, 'importe_total': 0.0}, 'SHY.US': {'cantidad_total': 17.0, 'importe_total': 0.0}, 'GD30': {'cantidad_total': 500.0, 'importe_total': 0.0}, 'GD35': {'cantidad_total': 450.0, 'importe_total': 0.0}, 'CRES': {'cantidad_total': 230.0, 'importe_total': 0.0}, 'VARIAS': {'cantidad_total': 100.0, 'importe_total': 1676.84}, 'LK01Q': {'cantidad_total': 407.0, 'importe_total': 0.0}}
Cash Final: 78.11
Tipo de cambio ARS/USD en 2025-01-01: 1179.4521588294815
SAMI (SAMI.BA): 200.00 x $1275.00 / TC 1179.45 = $216.20
VIST (VIST): 12.00 x $54.11 / Cedear Ratio 3.00 = $216.44000244140625

$AL30.BA: possibly delisted; no timezone found

AL30 (AL30.BA): 500.00 x $609.40 / TC 1179.45 = $258.34
CRES (CRES.BA): 180.00 x $1411.22 / TC 1179.45 = $215.37
YPFD (YPFD.BA): 5.00 x $50300.00 / TC 1179.45 = $213.23
INTC.US (INTC): 10.00 x $20.05 = $200.50
TLT.US (TLT): 3.00 x $83.61 = $250.83
FIPL (FIPL.BA): 900.00 x $360.50 / TC 1179.45 = $275.09
ARKK (ARKK): 100.00 x $56.77 / Cedear Ratio 10.00 = $567.7000045776367
VALE (VALE): 25.00 x $8.26 / Cedear Ratio 2.00 = $103.18887233734131
ALUA (ALUA.BA): 225.00 x $913.00 / TC 1179.45 = $174.17
LAR (LAR): 50.00 x $2.62 / Cedear Ratio 1.00 = $130.9999942779541
Tipo de cambio ARS/USD en 2025-12-28: 1511.3258762544667
PAMP (PAMP.BA): 160.00 x $5375.00 / TC 1511.33 = $569.04
GGAL (GGAL.BA): 122.00 x $8380.00 / TC 1511.33 = $676.47
SPY.US (SPY): 1.00 x $690.31 = $690.31
SAMI (SAMI.BA): 980.00 x $799.00 / TC 1511.33 = $518.10
YPFD (YPFD.BA): 16.00 x $54600.00 / TC 1511.33 = $578.04
TRAN (TRAN.BA): 114.00 x $4180.00 / TC 1511.33 = $315.30
MELI (MELI): 55.00 x $2005.71 / Cedear Ratio 120.00 = $919.2837320963541

HTTP Error 404: {"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"Quote not found for symbol: BULL-IA"}}}
$BULL-IA: possibly delisted; no timezone found

BULL-IA.US (BULL-IA): 100.00 x $1.03 = $103.21
ARGT.US (ARGT): 14.00 x $92.17 = $1,290.31
XLP.US (XLP): 6.00 x $78.23 = $469.38
SHY.US (SHY): 17.00 x $82.79 = $1,407.43

$GD30.BA: possibly delisted; no timezone found

GD30 (GD30.BA): 500.00 x $1034.20 / TC 1511.33 = $342.15

$GD35.BA: possibly delisted; no price data found  (1d 2025-12-21 00:00:00 -> 2025-12-29 00:00:00) (Yahoo error = "No data found, symbol may be delisted")

GD35 (GD35.BA): 450.00 x $1160.00 / TC 1511.33 = $345.39
CRES (CRES.BA): 230.00 x $1810.00 / TC 1511.33 = $275.45
VARIAS (VARIAS.BA): Valor total = $1,676.84 / TC 1511.33 = $1.11

$LK01Q.BA: possibly delisted; no timezone found

LK01Q (LK01Q.BA): 407.00 x $1479.88 / TC 1511.33 = $398.53
Valor Inicial (V0): $3,004.90
Valor Final (V1):   $10,653.34

--- FLUJOS DE CAJA EN EL PERIODO ---
Días totales en el período: 361
       Liquida      Comprobante  Importe  Dias_Restantes    Peso_W  \
172 2025-01-18  RECIBO DE COBRO    64.41             344  0.952909
173 2025-01-26    ORDEN DE PAGO   -42.19             336  0.930748
174 2025-01-27    ORDEN DE PAGO   -42.79             335  0.927978
175 2025-01-31  RECIBO DE COBRO   244.40             331  0.916898
178 2025-02-09    ORDEN DE PAGO  -130.16             322  0.891967
..         ...              ...      ...             ...       ...
569 2025-12-18  RECIBO DE COBRO  1677.17              10  0.027701
574 2025-12-19    ORDEN DE PAGO  -290.49               9  0.024931
575 2025-12-22    ORDEN DE PAGO   -64.64               6  0.016620
576 2025-12-22    ORDEN DE PAGO  -193.91               6  0.016620
577 2025-12-23    ORDEN DE PAGO  -195.77               5  0.013850

     Flujo_Ponderado
172        61.376842
173       -39.268255
174       -39.708172
175       224.089751
178      -116.098393
..               ...
569        46.459003
574        -7.242133
575        -1.074349
576        -3.222881
577        -2.711496

[71 rows x 6 columns]

--- RESULTADOS ---
Valor Inicial (V0): $3,004.90
Valor Final (V1):   $10,653.34
Flujo Neto (F):     $5,398.46
Rendimiento Portfolio (YTD): 40.84%

[*********************100%***********************]  2 of 2 completed

--- BENCHMARKS (USD) ---
SPY: 19.46%
ARGT: 6.26%

In [14]:
import sys
sys.path.append('../scripts/')
from analytics.equity.graph_portfolio_vs_benchmarks import get_holdings, get_usa_prices, get_ars_prices
# df, all_dates = get_holdings()
# print(df.columns)
# prices = get_prices(df)
# print(df.columns)
ars_prices = get_ars_prices(df)

Descargando y Convirtiendo Activos Locales...

[************          26%                       ]  5 of 19 completed$GD35.BA: possibly delisted; no price data found  (1d 2025-01-01 -> 2026-01-17) (Yahoo error = "No data found, symbol may be delisted")
[**********************63%*****                  ]  12 of 19 completed$AL30.BA: possibly delisted; no timezone found
[**********************79%*************          ]  15 of 19 completed$GD30.BA: possibly delisted; no timezone found
[**********************89%******************     ]  17 of 19 completed$AE38.BA: possibly delisted; no timezone found
[*********************100%***********************]  19 of 19 completed

4 Failed downloads:
['GD35.BA']: possibly delisted; no price data found  (1d 2025-01-01 -> 2026-01-17) (Yahoo error = "No data found, symbol may be delisted")
['AL30.BA', 'GD30.BA', 'AE38.BA']: possibly delisted; no timezone found
/home/jovyan/work/../scripts/analytics/equity/graph_portfolio_vs_benchmarks.py:186: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  if yf_ticker in data.columns:

In [15]:
ars_prices

Ticker,AE38.BA,AL30.BA,ALUA.BA,AUSO.BA,BIOX.BA,BYMA.BA,CVH.BA,DGCU2.BA,ECOG.BA,FIPL.BA,GBAN.BA,GD30.BA,GD35.BA,LEDE.BA,METR.BA,MIRG.BA,MOLA.BA,SAMI.BA,TRAN.BA
Date,,,,,,,,,,,,,,,,,,,
2025-01-02,NaN,NaN,890.339478,3895.0,NaN,246.626358,7340.0,1575.552368,NaN,362.5,1911.861694,NaN,NaN,1480.0,2855.0,26526.195312,23998.845703,1315.0,2457.040283
2025-01-03,NaN,NaN,887.348389,3780.0,NaN,245.192490,7740.0,1534.628906,NaN,360.0,1907.516724,NaN,NaN,1490.0,2820.0,26626.013672,26495.369141,1295.0,2457.040283
2025-01-06,NaN,NaN,871.396057,3740.0,NaN,254.273666,7990.0,1514.167236,NaN,352.5,1903.171387,NaN,NaN,1495.0,2845.0,26725.828125,28186.562500,1260.0,2574.248779
2025-01-07,NaN,NaN,871.396057,3695.0,NaN,249.972061,8250.0,1510.074829,NaN,352.5,1872.755615,NaN,NaN,1510.0,2820.0,26800.691406,27421.500000,1220.0,2656.729004
2025-01-08,NaN,NaN,881.366272,3645.0,NaN,246.626358,8000.0,1485.520874,NaN,358.5,1837.994385,NaN,NaN,1535.0,2855.0,26825.646484,26985.974609,1175.0,2565.566650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-12-31,NaN,NaN,990.540039,3995.0,NaN,290.750000,7620.0,1995.000000,3180.0,262.0,2370.000000,NaN,NaN,962.5,2547.5,27300.000000,25801.619141,742.0,3577.500000
2026-01-01,NaN,NaN,990.540039,3995.0,NaN,290.750000,7620.0,1995.000000,3180.0,262.0,2370.000000,NaN,NaN,962.5,2547.5,27300.000000,25801.619141,742.0,3577.500000
2026-01-02,NaN,NaN,1004.000000,4070.0,NaN,301.250000,7720.0,1985.000000,3220.0,267.5,2345.000000,NaN,NaN,997.5,2537.5,27000.000000,26460.785156,729.0,3470.000000
2026-01-05,NaN,NaN,1022.000000,3990.0,NaN,317.750000,7700.0,1980.000000,3265.0,254.5,2340.000000,NaN,NaN,970.0,2483.0,26750.000000,27000.000000,696.0,3390.000000
2026-01-06,NaN,NaN,1031.000000,3845.0,2224.0,332.000000,7590.0,2025.000000,3355.0,256.5,2305.000000,NaN,NaN,960.0,2476.0,25950.000000,27150.000000,684.0,3457.500000

In [16]:
prices.to_csv('test_prices.csv')

In [3]:
# genero un dataframe solamente con las transferencias entre cuenta bancaria y cuenta comitente 
df_transferencias = df_cuentas_unificadas[
    df_cuentas_unificadas['Comprobante'].str.contains('RECIBO DE COBRO') |
    df_cuentas_unificadas['Comprobante'].str.contains('REC COBRO DOLARES') |
    df_cuentas_unificadas['Comprobante'].str.contains('ORDEN DE PAGO') |
    df_cuentas_unificadas['Comprobante'].str.contains('ORD PAGO DOLARES')
].copy()

In [25]:
token

'eyJhbGciOiJSUzI1NiIsInR5cCI6ImF0K2p3dCJ9.eyJzdWIiOiIyNTA0NzM0IiwiSUQiOiIyNTA0NzM0IiwianRpIjoiN2I4YjU0ZmUtMmUxOS00NmEzLTgyNGItMDZkOGQwNmM1ZWU0IiwiY29uc3VtZXJfdHlwZSI6IjEiLCJ0aWVuZV9jdWVudGEiOiJUcnVlIiwidGllbmVfcHJvZHVjdG9fYnVyc2F0aWwiOiJUcnVlIiwidGllbmVfcHJvZHVjdG9fYXBpIjoiVHJ1ZSIsInRpZW5lX1R5QyI6IkZhbHNlIiwibmJmIjoxNzY3NzgzMzE4LCJleHAiOjE3Njc3ODQyMTgsImlhdCI6MTc2Nzc4MzMxOCwiaXNzIjoiSU9MT2F1dGhTZXJ2ZXIiLCJhdWQiOiJJT0xPYXV0aFNlcnZlciJ9.TOPsxX_LVazVEzxq8r_9OxU5B7lXzq4FoAiNLYXunMwNyMJsZQ40RZCh-r4QupMSGfpyD-d5xvuYJWGHx0r9qR_UXrtnIpbnRkK31pVBeluSluRsJ0skhaV2EbJxqRkFH-mLes2NtsBXzBh_XajTTlMS0WQeBrdSsc3y-QyDJQfYgsFYVE9bw9RitoFFQMzxlLkxDV-qmaFpWAuRZsz2BWaxlOFz5zPGu_7zkOrBEb_jw27Ae4Qy85Vn5NkC105RgpLiXhJQXKTNyicWxEHu7qj0alAxG9G3tLDRc_LosjdADBSNQEOFBP2gJo6wt3qG56vF_X6JAKRQ5ESCVGOJfg'