In [5]:
# Configuración para recargar automáticamente módulos modificados
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
import sys
sys.path.append('../scripts/')
from analytics.tipo_de_cambio.cotizacion_ars_usd import ars_to_usd, ars_to_mep
from analytics.tipo_de_cambio.cuenta_corriente_ars_a_usd import cuenta_corriente_ars_a_usd
from analytics.cuentas_corrientes.unificacion_cuentas_corrientes import CuentasCorrientesUnificacion
from analytics.equity.gen_cartera_from_date import gen_cartera


ars_to_usd()
ars_to_mep()
cuenta_corriente_ars_a_usd("ars_to_usd")
cuenta_corriente_ars_a_usd("mep_to_ccl")
cuentas_corrientes_unificacion = CuentasCorrientesUnificacion(
    csv_path_pesos='../data/cuenta_corriente_pesos_dolarizada_historico.csv',
    csv_path_usd_mep='../data/cuenta_corriente_mep_ccl_historico.csv',
    csv_path_usd_ccl='../data/cuenta_corriente_dolares_cable_historico.csv'
)

df_cuentas_unificadas = cuentas_corrientes_unificacion.unify_accounts()
cartera_dict = gen_cartera(df_cuentas_unificadas)

cartera_dict

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:43: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['Tipo_Cambio_ARS_USD'] = df_merged['Tipo_Cambio_ARS_USD'].fillna(method='ffill')
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:46: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['Tipo_Cambio_ARS_USD'] = df_merged['Tipo_Cambio_ARS_USD'].fillna(method='bfill')
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:112: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['ratio_mep_ccl'] = df_merged['ratio_mep_ccl'].fillna(method='ffill')
/home/jovyan/work/../scripts/analytics/tipo_de_cambio/cuenta_corriente_ars_a_usd.py:115: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['ratio_mep_ccl'] = df_merged['ratio_mep_ccl'].fillna(method='bfill')

ADR GGAL (USD):
Price           Close       High        Low       Open  Volume
Ticker           GGAL       GGAL       GGAL       GGAL    GGAL
Date
2024-01-02  15.407283  15.725240  15.180171  15.579888  984200
2024-01-03  15.243764  15.634395  15.207425  15.298270  673700
2024-01-04  14.753200  15.489042  14.698693  15.316438  921600
2024-01-05  14.980310  15.116577  14.626016  14.626016  865900
2024-01-08  15.080241  15.116578  14.626017  15.116578  469600

Acción GGAL en Pesos (ARS):
Price             Close         High          Low         Open   Volume
Ticker          GGAL.BA      GGAL.BA      GGAL.BA      GGAL.BA  GGAL.BA
Date
2024-01-02  1500.315186  1527.946409  1456.221049  1502.139510  1191579
2024-01-03  1576.623535  1578.670333  1481.671986  1511.928351  2231061
2024-01-04  1602.296997  1636.513342  1564.432004  1576.890507  3024680
2024-01-05  1681.185913  1694.356374  1576.000598  1601.807496  2656526
2024-01-08  1777.294312  1779.786055  1651.641459  1685.457395  1733177
Cargando datos de cuenta corriente histórica en pesos...
Cargando datos de tipo de cambio GGAL...
Proceso completado. Se procesaron 451 registros.
Rango de fechas: 2024-04-09 00:00:00 a 2025-12-23 00:00:00
Registros con tipo de cambio: 451
Archivo guardado: ../data/cuenta_corriente_pesos_dolarizada_historico.csv
Cargando datos de tipo de cambio GGAL CCL...
Cargando datos de tipo de cambio GGAL MEP...
Calculando ratio MEP/CCL...
Cargando datos de cuenta corriente en dólares...
Aplicando ratio MEP/CCL a cuenta corriente...
Proceso completado. Se procesaron 37 registros.
Rango de fechas: 2024-10-24 00:00:00 a 2025-12-19 00:00:00
Registros con ratio: 37
Archivo guardado: ../data/cuenta_corriente_mep_ccl_historico.csv
Cargando datos de cuenta corriente en pesos...
Cargando datos de cuenta corriente en dólares MEP...
Cargando datos de cuenta corriente en dólares CCL...
Unificando cuentas corrientes...
Ordenando por columna Operado...
Procesando operaciones...

--- Cartera Final Corregida ---
PAMP: 160.00
GGAL: 122.00
SPY.US: 1.00
SAMI: 980.00
YPFD: 16.00
TRAN: 114.00
MELI: 55.00
BULL-IA.US: 100.00
ARGT.US: 14.00
SHY.US: 17.00
XLP.US: 6.00
CRES: 230.00
GD35: 450.00
GD30: 500.00
LK01Q: 407.00

{'PAMP': {'cantidad_total': 160.0},
 'GGAL': {'cantidad_total': 122.0},
 'SPY.US': {'cantidad_total': 1.0},
 'SAMI': {'cantidad_total': 980.0},
 'YPFD': {'cantidad_total': 16.0},
 'TRAN': {'cantidad_total': 114.0},
 'MELI': {'cantidad_total': 55.0},
 'BULL-IA.US': {'cantidad_total': 100.0},
 'ARGT.US': {'cantidad_total': 14.0},
 'SHY.US': {'cantidad_total': 17.0},
 'XLP.US': {'cantidad_total': 6.0},
 'CRES': {'cantidad_total': 230.0},
 'GD35': {'cantidad_total': 450.0},
 'GD30': {'cantidad_total': 500.0},
 'LK01Q': {'cantidad_total': 407.0}}

In [9]:
# genero un dataframe solamente con las transferencias entre cuenta bancaria y cuenta comitente 
df_transferencias = df_cuentas_unificadas[
    df_cuentas_unificadas['Comprobante'].str.contains('RECIBO DE COBRO') |
    df_cuentas_unificadas['Comprobante'].str.contains('REC COBRO DOLARES') |
    df_cuentas_unificadas['Comprobante'].str.contains('ORDEN DE PAGO') |
    df_cuentas_unificadas['Comprobante'].str.contains('ORD PAGO DOLARES')
]

df_transferencias

,Liquida,Operado,Comprobante,Numero,Cantidad,Especie,Precio,Importe,Saldo,Referencia
0,2024-04-09,2024-04-09,RECIBO DE COBRO,546744,0.0,NaN,0.0,97.99,98.11,CREDITO CTA. CTE.
1,2024-04-09,2024-04-09,RECIBO DE COBRO,551326,0.0,NaN,0.0,0.20,98.30,CREDITO CTA. CTE.
6,2024-04-27,2024-04-27,ORDEN DE PAGO,417834,0.0,NaN,0.0,-3.92,0.04,TRANSFERENCIA VIA MEP
13,2024-05-03,2024-05-03,ORDEN DE PAGO,435493,0.0,NaN,0.0,-18.21,15.60,TRANSFERENCIA VIA MEP
14,2024-05-08,2024-05-08,RECIBO DE COBRO,690605,0.0,NaN,0.0,161.05,177.29,CREDITO CTA. CTE.
...,...,...,...,...,...,...,...,...,...,...
567,2025-12-18,2025-12-18,RECIBO DE COBRO,1252188,0.0,NaN,0.0,1681.47,2243.64,CREDITO CTA. CTE.
574,2025-12-19,2025-12-19,ORDEN DE PAGO,1004776,0.0,NaN,0.0,-291.24,-120.55,TRANSFERENCIA VIA MEP
575,2025-12-22,2025-12-22,ORDEN DE PAGO,1011036,0.0,NaN,0.0,-64.80,212.73,TRANSFERENCIA VIA MEP
576,2025-12-22,2025-12-22,ORDEN DE PAGO,1008879,0.0,NaN,0.0,-194.40,277.53,TRANSFERENCIA VIA MEP
577,2025-12-23,2025-12-23,ORDEN DE PAGO,1012135,0.0,NaN,0.0,-196.27,18.50,TRANSFERENCIA VIA MEP