In [1]:
import pandas as pd
import polars as pl

In [11]:
%ls /home/jovyan/data/

'Cuenta Corriente DOLARES CABLE 30-06-25.xlsx'*
'Cuenta Corriente PESOS 30-06-25.xlsx'*

In [13]:
df_cuenta_corriente = pd.read_excel(
    "/home/jovyan/data/Cuenta Corriente PESOS 30-06-25.xlsx",
    sheet_name="Cuenta Corriente PESOS 30-06-25"
)

df_cuenta_corriente

,Liquida,Operado,Comprobante,Numero,Cantidad,Especie,Precio,Importe,Saldo,Referencia
0,2024-06-28,2024-06-28,RETENCION,634586,0.00,NaN,0.000000,-76.29,577.81,GGAL RET
1,2024-06-28,2024-06-28,DIVIDENDOS,618806,0.00,GGAL,0.000000,1075.41,1653.22,GGAL BYMA
2,2024-07-01,2024-06-28,LIQUIDACION RESCATE FCI,263552,-3852.56,BMACTAA,9.820525,37834.16,39487.38,NaN
3,2024-07-01,2024-07-01,ORDEN DE PAGO,604216,0.00,NaN,0.000000,-39000.00,487.38,TRANSFERENCIA VIA MEP
4,2024-07-05,2024-07-05,RECIBO DE COBRO,1033526,0.00,NaN,0.000000,300000.00,300487.38,CREDITO CTA. CTE.
...,...,...,...,...,...,...,...,...,...,...
200,2025-06-24,2025-06-24,ORDEN DE PAGO,456588,0.00,NaN,0.000000,-50000.00,1603509.35,TRANSFERENCIA VIA MEP
201,2025-06-24,2025-06-24,ORDEN DE PAGO,457132,0.00,NaN,0.000000,-130000.00,1473509.35,TRANSFERENCIA VIA MEP
202,2025-06-27,2025-06-27,RECIBO DE COBRO,667219,0.00,NaN,0.000000,208147.52,1681656.87,CREDITO CTA. CTE.
203,2025-06-30,2025-06-27,COMPRA NORMAL,4977570,12.00,YPFD,40159.720000,-481916.64,1199740.23,NaN
204,2025-06-30,2025-06-27,COMPRA NORMAL,4977984,1400.00,AL30,826.824336,-1157554.07,42186.16,NaN

In [14]:
# Me quedo solo con la columna Especie y hago un count para ver cuántas veces se repite cada valor
df_count = df_cuenta_corriente['Especie'].value_counts(dropna=False).reset_index()
df_count.columns = ['Especie', 'count']

df_count

    Especie  count
0       NaN     49
1      CEPU     12
2      GGAL     11
3      MIRG     10
4      AL30     10
5      AUSO      9
6    VARIAS      9
7      FIPL      8
8      PAMP      8
9     DGCU2      7
10       KO      5
11     SAMI      5
12    TECO2      4
13     TRAN      4
14     GBAN      4
15  BMACTAA      3
16     YPFD      3
17     AE38      3
18     ARKK      3
19     CRES      3
20     MSFT      3
21     PAAS      3
22     ALUA      3
23    GOOGL      2
24      CVH      2
25  BULMAAA      2
26     VIST      2
27     VALE      2
28      LAR      2
29  ALGIIIA      2
30      SAN      2
31      UNH      2
32      HMY      2
33      EDN      2
34    SNSBO      1
35     GD30      1
36     AAPL      1
37      PSQ      1

In [22]:
df_sami = df_cuenta_corriente[
    (df_cuenta_corriente['Especie'] == 'GGAL') #&
    # (~df_cuenta_corriente['Comprobante'].str.contains('TRADING', na=False))
].sort_values('Operado')

# Elimino el primer registro del dataframe
# df_sami = df_sami.iloc[1:]

df_sami

,Liquida,Operado,Comprobante,Numero,Cantidad,Especie,Precio,Importe,Saldo,Referencia
1,2024-06-28,2024-06-28,DIVIDENDOS,618806,0.0,GGAL,0.000000,1075.41,1653.22,GGAL BYMA
9,2024-07-11,2024-07-10,COMPRA NORMAL,5823742,10.0,GGAL,4113.669000,-41136.69,131648.22,NaN
14,2024-07-24,2024-07-24,DIVIDENDOS,972599,0.0,GGAL,0.000000,2147.03,7040.62,GGAL BYMA
34,2024-09-16,2024-09-13,COMPRA NORMAL,8096195,7.0,GGAL,5599.021429,-39193.15,247496.88,NaN
42,2024-10-14,2024-10-10,COMPRA NORMAL,8889335,8.0,GGAL,5588.950000,-44711.60,509099.44,NaN
91,2024-12-09,2024-12-06,VENTA,10710976,-36.0,GGAL,6175.243333,222308.76,600888.72,NaN
138,2025-03-06,2025-03-05,COMPRA NORMAL,1963861,40.0,GGAL,7099.477000,-283979.08,265095.31,NaN
139,2025-03-10,2025-03-07,COMPRA NORMAL,2077738,20.0,GGAL,7049.126000,-140982.52,124112.79,NaN
146,2025-04-03,2025-04-01,COMPRA NORMAL,2717512,13.0,GGAL,7250.529231,-94256.88,9014.55,NaN
156,2025-04-09,2025-04-08,COMPRA NORMAL,2928366,30.0,GGAL,6505.336333,-195160.09,478603.35,NaN
178,2025-05-14,2025-05-14,DIVIDENDOS,196642,0.0,GGAL,0.000000,5567.84,33749.41,GGAL BYMA

In [25]:
especie = df_sami['Especie'].iloc[0]

cantidad = df_sami['Cantidad'].tolist()
precio = df_sami['Precio'].tolist()
comprobante = df_sami['Comprobante'].tolist()

total_cost = 0
total_quantity = 0
for i in range(len(precio)):
    if comprobante[i] == 'COMPRA NORMAL':
        total_cost += precio[i] * cantidad[i]
        total_quantity += cantidad[i]
    elif comprobante[i] == 'VENTA':
        total_cost -= precio[i] * cantidad[i]
        total_quantity -= cantidad[i]
    else:
        print(f"Comprobante desconocido: {comprobante[i]}")

ppc = total_cost / total_quantity

ppc * total_quantity

Comprobante desconocido: DIVIDENDOS
Comprobante desconocido: DIVIDENDOS
Comprobante desconocido: DIVIDENDOS

1061728.769984

In [26]:
print(f'El precio promedio de compra es: {ppc}')
print(f'La cantidad de {especie} es: {total_quantity}')
print(f'Patrimonio total de {especie} es: {ppc * total_quantity}')

first_return_quantity = cantidad[2]
first_return_price = precio[2]

first_return_total = first_return_quantity * first_return_price * -1
print(f'El total de la primera venta es: {first_return_total}')

first_return_ppc = first_return_quantity * ppc * -1
print(f'El precio promedio ponderado de la primera venta es: {first_return_ppc}')
print(f'La ganancia - perdida de la primera venta es: {first_return_total - first_return_ppc}')

El precio promedio de compra es: 6473.955914536585
La cantidad de GGAL es: 164.0
Patrimonio total de GGAL es: 1061728.769984
El total de la primera venta es: -0.0
El precio promedio ponderado de la primera venta es: -0.0
La ganancia - perdida de la primera venta es: 0.0

In [34]:
print(f'El precio promedio de compra es: {ppc}')
print(f'La cantidad de {especie} es: {total_quantity}')
print(f'Patrimonio total de {especie} es: {ppc * total_quantity}')

first_return_quantity = cantidad[2]
first_return_price = precio[2]

first_return_total = first_return_quantity * first_return_price * -1
print(f'El total de la primera venta es: {first_return_total}')

first_return_ppc = first_return_quantity * ppc * -1
print(f'El precio promedio ponderado de la primera venta es: {first_return_ppc}')
print(f'La ganancia - perdida de la primera venta es: {first_return_total - first_return_ppc}')

El precio promedio de compra es: 979.8285250000001
La cantidad de SAMI es: 400.0
Patrimonio total de SAMI es: 391931.41000000003
El total de la primera venta es: 254977.79
El precio promedio ponderado de la primera venta es: 195965.70500000002
La ganancia - perdida de la primera venta es: 59012.08499999999