In [13]:
import yfinance as yf
from datetime import datetime

# Definir el período de tiempo
start_date = "2024-01-01"
end_date = datetime.today().strftime('%Y-%m-%d')

# Descargar datos del ADR (GGAL en NYSE)
ggal_adr = yf.download("GGAL", start=start_date, end=end_date)

# Descargar datos de la acción en pesos (GGAL en BCBA)
ggal_pesos = yf.download("GGAL.BA", start=start_date, end=end_date)

# Mostrar las primeras filas de cada dataset
print("ADR GGAL (USD):")
print(ggal_adr.head())
print("\nAcción GGAL en Pesos (ARS):")
print(ggal_pesos.head())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

ADR GGAL (USD):
Price           Close       High        Low       Open  Volume
Ticker           GGAL       GGAL       GGAL       GGAL    GGAL
Date
2024-01-02  15.407284  15.725241  15.180172  15.579889  984200
2024-01-03  15.243761  15.634392  15.207422  15.298267  673700
2024-01-04  14.753201  15.489043  14.698694  15.316439  921600
2024-01-05  14.980310  15.116577  14.626016  14.626016  865900
2024-01-08  15.080241  15.116578  14.626017  15.116578  469600

Acción GGAL en Pesos (ARS):
Price             Close         High          Low         Open   Volume
Ticker          GGAL.BA      GGAL.BA      GGAL.BA      GGAL.BA  GGAL.BA
Date
2024-01-02  1500.315186  1527.946409  1456.221049  1502.139510  1191579
2024-01-03  1576.623535  1578.670333  1481.671986  1511.928351  2231061
2024-01-04  1602.296997  1636.513342  1564.432004  1576.890507  3024680
2024-01-05  1681.185791  1694.356251  1576.000483  1601.807380  2656526
2024-01-08  1777.294312  1779.786055  1651.641459  1685.457395  1733177

In [14]:
ggal_adr

Price           Close       High        Low       Open   Volume
Ticker           GGAL       GGAL       GGAL       GGAL     GGAL
Date
2024-01-02  15.407284  15.725241  15.180172  15.579889   984200
2024-01-03  15.243761  15.634392  15.207422  15.298267   673700
2024-01-04  14.753201  15.489043  14.698694  15.316439   921600
2024-01-05  14.980310  15.116577  14.626016  14.626016   865900
2024-01-08  15.080241  15.116578  14.626017  15.116578   469600
...               ...        ...        ...        ...      ...
2025-12-17  49.830002  50.720001  49.490002  50.459999  1199400
2025-12-18  53.900002  54.099998  50.630001  50.700001  1393300
2025-12-19  54.169998  55.459999  53.680000  54.209999  1415000
2025-12-22  53.720001  55.189999  53.470001  54.700001   700900
2025-12-23  54.040001  55.279999  53.259998  53.259998   707200

[497 rows x 5 columns]

In [15]:
ggal_pesos

Price             Close         High          Low         Open   Volume
Ticker          GGAL.BA      GGAL.BA      GGAL.BA      GGAL.BA  GGAL.BA
Date
2024-01-02  1500.315186  1527.946409  1456.221049  1502.139510  1191579
2024-01-03  1576.623535  1578.670333  1481.671986  1511.928351  2231061
2024-01-04  1602.296997  1636.513342  1564.432004  1576.890507  3024680
2024-01-05  1681.185791  1694.356251  1576.000483  1601.807380  2656526
2024-01-08  1777.294312  1779.786055  1651.641459  1685.457395  1733177
...                 ...          ...          ...          ...      ...
2025-12-17  7810.000000  7815.000000  7670.000000  7720.000000  7206643
2025-12-18  8320.000000  8340.000000  7755.000000  7820.000000  6603359
2025-12-19  8370.000000  8575.000000  8290.000000  8350.000000  6161330
2025-12-22  8290.000000  8530.000000  8240.000000  8370.000000  1728394
2025-12-23  8260.000000  8535.000000  8190.000000  8300.000000  2099922

[488 rows x 5 columns]

            Close_ADR_USD  Close_GGAL_ARS
Date
2024-01-02      15.407284     1500.315186
2024-01-03      15.243761     1576.623535
2024-01-04      14.753201     1602.296997
2024-01-05      14.980310     1681.185791
2024-01-08      15.080241     1777.294312

Shape: (473, 2)

In [ ]:
# Genero la columna tipo de cambio, multiplicando Close_GGAL_ARS * 10 y luego divido por Close_ADR_USD
ggal_combined['Tipo_Cambio_ARS_USD'] = (ggal_combined['Close_GGAL_ARS'] * 10) / ggal_combined['Close_ADR_USD']

            Close_ADR_USD  Close_GGAL_ARS  Tipo_Cambio_ARS_USD
Date
2024-01-02      15.407284     1500.315186           973.770073
2024-01-03      15.243761     1576.623535          1034.274631
2024-01-04      14.753201     1602.296997          1086.067388
2024-01-05      14.980310     1681.185791          1122.263653
2024-01-08      15.080241     1777.294312          1178.558279
...                   ...             ...                  ...
2025-12-17      49.830002     7810.000000          1567.328861
2025-12-18      53.900002     8320.000000          1543.599214
2025-12-19      54.169998     8370.000000          1545.135736
2025-12-22      53.720001     8290.000000          1543.186860
2025-12-23      54.040001     8260.000000          1528.497383

[473 rows x 3 columns]

In [20]:
ggal_combined.to_csv("../data/tipo_cambio_ggal.csv", index=True)